<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.pjt.pensieve.main.model.mapper.MemberMapper">


    <resultMap id="memberResultMap"   type="Member" >
       <id     property="memberNo"    column="MEMBER_NO"  />
       <result property="memberId"    column="MEMBER_ID"  />
       <result property="memberPw"    column="MEMBER_PW"  />
       <result property="createDate"  column="CREATE_DATE"/>
  </resultMap>
    
    <select    id="selectCount" resultType="_int">
        SELECT COUNT(*) FROM MEMBER
    </select>
    
    
    <select    id="selectMemberById" parameterType="String" resultMap="memberResultMap">
        SELECT MEMBER_NO
             , MEMBER_ID
             , MEMBER_PW
             , CREATE_DATE
          FROM MEMBER
         WHERE MEMBER_ID = #{memberId}
    </select>
    
    <insert    id="insertMember" parameterType="Member" keyColumn="MEMBER_NO" keyProperty="memberNo" useGeneratedKeys="true" >
        INSERT
          INTO MEMBER
               (
               MEMBER_NO
             , MEMBER_ID
             , MEMBER_PW
               )
        VALUES (
               SEQ_MEMBER_NO.NEXTVAL
             , #{memberId}
             , #{memberPw}
               )
    </insert>
    
    
</mapper>