<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.pjt.pensieve.wc.model.mapper.MemoryMapper">

    <resultMap  id="memoryResultMap"   type="Memory" >
        <id     property="memoryId"    column="MEMORY_ID"  />
        <result property="content"     column="CONTENT"    />
        <result property="contentOrig" column="CONTENT"    />
        <result property="title"       column="TITLE"      />
        <result property="createDate"  column="CREATE_DATE"/>
        <result property="modifyDate"  column="MODIFY_DATE"/>
        <result property="category"    column="CATEGORY"   />
        <result property="todoYn"      column="TODO_YN"    />
        <result property="memberId"    column="MEMBER_ID"  />
        <result property="showDiv"     column="SHOW_DIV"   />
        <association property="todo" columnPrefix="T_" resultMap="todoResultMap"/>
    </resultMap>
    
    <resultMap  id="todoResultMap"   type="Todo" >
        <id     property="memoryId"  column="MEMORY_ID"/>
        <result property="strDate"   column="STR_DATE" />
        <result property="endDate"   column="END_DATE" />
        <result property="succDate"  column="SUCC_DATE"/>
    </resultMap>

    <insert    id="insertMemory" parameterType="Memory" 
               useGeneratedKeys="true" keyColumn="MEMORY_ID" keyProperty="memoryId">
        INSERT
          INTO WC_MEMORY
        (
               MEMORY_ID
             , CONTENT
             , TITLE
             , CATEGORY
             , TODO_YN
             , MEMBER_ID
        )
        VALUES (
               SEQ_MEMORY_ID.NEXTVAL
             , #{content}
             , #{title} 
             , #{category} 
             , #{todoYn}
             , 'woochan'
        )
    </insert>
    
    
    <select    id="selectMemory" parameterType="_int" resultMap="memoryResultMap">
        SELECT M.MEMORY_ID
             , M.CONTENT
             , M.TITLE
             , M.CREATE_DATE
             , M.MODIFY_DATE
             , M.CATEGORY
             , M.TODO_YN
             , M.MEMBER_ID
             , M.SHOW_DIV
             , T.MEMORY_ID AS T_MEMORY_ID
             , T.SUCC_DATE AS T_SUCC_DATE
             , T.STR_DATE  AS T_STR_DATE
             , T.END_DATE  AS T_END_DATE
          FROM WC_MEMORY M
          LEFT OUTER JOIN
               WC_TODO   T
            ON T.MEMORY_ID = M.MEMORY_ID
         WHERE M.SHOW_DIV = 'Y'
           AND M.MEMORY_ID = #{memoryId}
    </select>
    <select    id="selectMemories" parameterType="string" resultMap="memoryResultMap">
        SELECT ROWNUM
             , MEMORY_ID
             , CONTENT
             , TITLE
             , CREATE_DATE
             , MODIFY_DATE
             , CATEGORY
             , TODO_YN
             , MEMBER_ID
             , T_MEMORY_ID
             , T_SUCC_DATE
             , T_STR_DATE
             , T_END_DATE
          FROM (
               SELECT M.MEMORY_ID
                    , M.CONTENT
                    , M.TITLE
                    , M.CREATE_DATE
                    , M.MODIFY_DATE
                    , M.CATEGORY
                    , M.TODO_YN
                    , M.MEMBER_ID
                    , T.MEMORY_ID AS T_MEMORY_ID
                    , T.SUCC_DATE AS T_SUCC_DATE
                    , T.STR_DATE  AS T_STR_DATE
                    , T.END_DATE  AS T_END_DATE
                 FROM WC_MEMORY M
                 LEFT OUTER JOIN
                      WC_TODO   T
                   ON T.MEMORY_ID = M.MEMORY_ID
                WHERE M.SHOW_DIV = 'Y'
                <if test="searchWord != ''">
                  AND (
                      M.TITLE   LIKE '%'|| #{searchWord} || '%' OR
                      M.CONTENT LIKE '%'|| #{searchWord} || '%'
                      )
                </if>
                ORDER BY
                      NVL(MODIFY_DATE, CREATE_DATE) DESC
               ) MEM
    </select>
    
    <select    id="selectMemoryCount" resultType="_int">
        SELECT COUNT(*)
          FROM WC_MEMORY
         WHERE SHOW_DIV = 'Y'
                <if test="searchWord != ''">
           AND (
               TITLE   LIKE '%'|| #{searchWord} || '%' OR
               CONTENT LIKE '%'|| #{searchWord} || '%'
               )
                </if>
    </select>
    
    
    <insert    id="insertTodo" parameterType="Todo" >
        INSERT
          INTO WC_TODO
             (
               MEMORY_ID
             , STR_DATE 
             , END_DATE 
             , SUCC_DATE
             )
        VALUES
             (
               #{memoryId}
             , #{strDate} 
             , #{endDate} 
             , #{succDate}
             )
    </insert>
    
    <delete    id="deleteTodo" parameterType="_int">
        DELETE
          FROM WC_TODO 
         WHERE MEMORY_ID = #{memoryId}      
    </delete>
    
    <update    id="updateTodo"  parameterType="map">
        UPDATE WC_TODO
           SET SUCC_DATE = #{succDate}
         WHERE MEMORY_ID = #{memoryId}   
    </update>
    
    <update    id="deleteMemory" parameterType="_int">
        UPDATE WC_MEMORY
           SET SHOW_DIV  = 'N'
         WHERE MEMORY_ID = #{memoryId}
    </update>
    
    
    <update id="updateMemory"  parameterType="Memory">
        UPDATE WC_MEMORY
           SET CONTENT     = #{content}
             , TITLE       = #{title}    
             , CATEGORY    = #{category} 
             , TODO_YN     = #{todoYn}   
             , MEMBER_ID   = 'woochan'   
             , MODIFY_DATE = SYSDATE  
         WHERE MEMORY_ID = #{memoryId}   
    </update>
</mapper>